version: "3.8"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config

    cloudflared:
      image: cloudflare/cloudflarede:latest
      container_name: cloudflared
      restart: unless-stoppeed
      command: tunnel run
      depends_on:
        - caddy
      volumes:
        - ./cloudflared:/etc/cloudflared


volumes:
  caddy_data:
  caddy_config:
